
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body {
    font-family: 'Gemunu Libre';

}

header h1 {
    display: inline;
    font-family: 'Comforter Brush';
    font-size: 42px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}
header h1 a{
    display: inline;
    font-family: 'Comforter Brush';
    font-size: 42px;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    float: right;
}

nav p {
    margin-right: 25px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}
nav a {
    cursor: pointer;
    font-weight: 600;
    color: black;
}


main section div{
    width: 50%;
    display: inline-block;
}
img {
    display: inline;
    float: right;
    height: 400px;
    margin-right: 100px;
    border-radius: 20px;
}

div p {
    font-size: 24px;

}
div p:hover {
    color: red;
}

.pro {
    margin-top: 250px;
}

.a{
    color: black;
    font-size: 32px;
}

h2 {
    font-weight: bolder;
    font-size: 30px;
}

@media screen and (max-width: 1280px){
    img {
        height: 300px;
    }
}

@media screen and (max-width: 1025px) {
    img {
        height: 200px;
    }
    div p {
        font-size: 18px;
    }
    .pro{ margin-top: 25px;
    }
}